body {
  background-color: #fffafa;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  background: #1e1e1e;
  color: #f8f8f2;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  max-width: 100%;
}

pre code {
  padding: 24px; /* 這行無效，要在子元件裡的<style>再寫一次 */
  display: block;
  overflow-x: scroll;

  /* 捲動軸出不來，先讓<code>換行做替代 */
  /* white-space: pre; */
  white-space: pre-wrap;
  word-break: break-word;
}

code:not(pre code) {
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  white-space: break-spaces;
  border-radius: 6px;
  color: #c7254e;
  font-family: "Monaspace Neon", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  border: 1px solid #e1e1e1;
  font-size: 85%;
}

h1 {font-size: 40px; font-weight: 500;}
h2 {font-size: 32px; font-weight: 500;}
h2 {font-size: 28px; font-weight: 500;}
h4 {font-size: 24px; font-weight: 500;}
h5 {font-size: 20px; font-weight: 500;}
h6 {font-size: 16px; font-weight: 500;}

/* Vite + Vue 原始 style.css */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
